createdAt: "2018-06-14T12:12:16.926Z"
updatedAt: "2018-06-14T12:12:34.552Z"
type: "MARKDOWN_NOTE"
folder: "817d5f377e49f6af4c61"
title: "dataX"
content: '''
  ## dataX
  [DataX/introduction.md at master · alibaba/DataX · GitHub](https://github.com/alibaba/DataX/blob/master/introduction.md)
  
'''
tags: []
isStarred: false
isTrashed: false
